<div class="outer">
  <!-- Tab panes -->
  <div class="tab-content middle">
    <div style="text-align: center;">
      <span class="w3-bar-item" style="color: white; font-size: 1.5em;"> {{eventDetail}} </span>
    </div>
    <div class="inner">
      <div class="row">
        <div class="col-md-6 selectOption">
          <select class="selectOption" (change)="onSelect($event.target.value)">
            <option disabled>Indices</option>
            <option value="nikkei" selected="selected"> &nbsp;&nbsp; - &nbsp; Nikkei 225</option>
            <option value="topix" > &nbsp;&nbsp; - &nbsp; Topix</option>
            <option value="dow" > &nbsp;&nbsp; - &nbsp; DowJones</option>
            <option value="ftse"> &nbsp;&nbsp; - &nbsp; FTSE</option>
            <option value="jap" > &nbsp;&nbsp; - &nbsp; Japan Residential Property Price Index</option>

            <option disabled>commodity</option>
            <option value="gold"> &nbsp;&nbsp; - &nbsp; Gold</option>
            <option value="silver"> &nbsp;&nbsp; - &nbsp; Silver</option>
            <option value="copper"> &nbsp;&nbsp; - &nbsp; Copper</option>
            <option value="aluminium"> &nbsp;&nbsp; - &nbsp; Aluminium</option>
            <option value="oil" disabled> &nbsp;&nbsp; - &nbsp; Crude Oil</option>

            <option disabled>Blended Indices</option>
            <option value="euro"> &nbsp;&nbsp; - &nbsp; Eurozone GEAR</option>
            <option value="china"> &nbsp;&nbsp; - &nbsp; China GEAR</option>
            
            <option disabled>Fidelity Products</option>
            <option value="fid1"> &nbsp;&nbsp; - &nbsp; FIJ IT JAPAN GROWTH FUND</option>
            <option value="fid2"> &nbsp;&nbsp; - &nbsp; FIJ IT US High Yield Fund</option>
            
          </select>
        </div>
        <div class="addCompare1 col-md-6 btn_hov" style="cursor: pointer;">
          <!-- (click)="addcompare()" -->
          <h4  data-toggle="modal"  data-target="#comparisonModal" style="display: inline-block; margin-right: 10px;"> <i class="fa fa-plus-circle"></i> <samp>Comparison</samp></h4>
          <samp>|</samp>
          <h4 *ngFor="let value of removeArray" style="display: inline-block; margin-right: 5px; margin-left: 5px;" (click)="removeCompare(value)"> <i class="fa fa-minus-circle"></i> <samp>{{value}}</samp></h4>

        </div>
      </div>
      <div class="row">
        <div class="col-sm-10" id='chartContainer'>
          <div id="container"></div>
        </div>
        <div class="col-sm-2" [ngStyle]="{height: chartHeight}" style="background-color:white; overflow-y: auto">
          <div style="border-bottom: 1px solid grey; margin-bottom:10px;">
            <span style="color:#1E8FF3; 
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: 16px; font-weight:bold">Nikkei 225</span>
            <h4 style="font-weight:bold">20,141.93</h4>
            <p style="color:#1EA54B; font-weight:bold">+285.13 (-1.40%)</p>
          </div>
          <div style="border-bottom: 1px solid grey; margin-bottom:10px;">
            <span style="color:#1E8FF3; 
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: 16px; font-weight:bold">TOPIX</span>
            <h4 style="font-weight:bold">1,517.46</h4>
            <p style="color:#1EA54B; font-weight:bold">+17.65 (1.15%)</p>
          </div>
          <div>
            <div style="font-size: 12px; color:grey;">Fidelity Blog</div>
            <div style="cursor: pointer;" class="btn_hov">
              <h4 >Italian political turmoil continues to take its toll</h4>
              <p style="color:grey;">The Eurozone's 1.7 per cent reding reinforces the drop seen in the ...</p>
            </div>
            <p style="font-size: 12px; font-weight: 400; color:lightgrey;">2h ago</p>
          </div>
          <div>
            <div style="font-size: 12px; color:grey;">Fidelity Blog</div>
            <div style="cursor: pointer;" class="btn_hov">
              <h4 >China leads EM Gears lower</h4>
              <p style="color:grey;">EM GESRs remain particularly weak, with China GEAR plunging further...</p>
            </div>
            <p style="font-size: 12px; font-weight: 400; color:lightgrey;">7h ago</p>
          </div>
          <div>
            <div style="font-size: 12px; color:grey;">Fidelity Blog</div>
            <div style="cursor: pointer;" class="btn_hov">
              <h4 >US GEAR strength contrasts with weakness elsewhere</h4>
              <p style="color:grey;">US GEAR, in contrast to the other GEARs, continued its string run at 4.1 %...</p>
            </div>
            <p style="font-size: 12px; font-weight: 400; color:lightgrey;">10h ago</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="comparisonModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Select from the following:</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div *ngFor="let value of popupArray; let i = index" class="col-sm-12 btn_hov" style="cursor: pointer;" (click)="addcompare(value)" data-dismiss="modal">
              <p style="font-size: 20px; font-weight: 600" >
                <i class="fa fa-plus-circle"></i> 
                <span style="margin-left:10px">{{value}}</span><span [ngStyle]="{color: returnColor(i)}">     ----- </span>
              </p>
            </div>
          </div>
        </div>
        <!--<div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>-->
      </div>

    </div>
  </div>
</div>