.myclass{
     margin: auto;
    padding-bottom: 15px;
    padding-top: 2px;
  /*   height: 90%; */
}
.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #181818
  }
  
  .middle {
    display: table-cell;
    vertical-align: middle;
  }
  
  .inner {
    margin-left: auto;
    margin-right: auto; 
    width: 85%;
    height: 70%;
    /*whatever width you want*/
  }
  .pageHeadding{
    font-weight: 600; 
    font-size: 1.5rem; 
    margin: 15px; 
    text-decoration: underline;
    font-size: 1.5rem !important;
  }
  .selectOption{
    background-color: #fff;
    border: none; 
    height: 32px;
    outline: none;
  }
  .addCompare1{
    background-color: #fff;
    border: none; 
    height: 32px;
    outline: none;
  }
  .modal-dialog{
    top: 24% !important;
  }
  .btn_hov :hover{
    color: #0081f2;
  }
  