<div class="outer">
  <!-- Tab panes -->
  
  <div class="tab-content middle">
  
      <select style="margin-left: 10%;width: 150px; border-radius: 5px; height: 32px;outline: none;" (change)="onSelect($event.target.value)">
          <option value="market" selected="selected">Market</option>
          <option value="media">Media</option>
        </select>
      <div class="inner">
        <div class="row myclass">
          <div id="container" style="width:100%; height:400px;"></div>
        </div>
      </div>
      
      

      <div class="btn-group btn-group-toggle" style="margin-left: 10%;width: 150px; " data-toggle="buttons">
          <label class="btn btn-secondary active">
            <input type="radio" name="options" id="option1" autocomplete="off" checked> Detail
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="options" id="option2" autocomplete="off"> Chart
          </label>
        </div>


  </div>
  
</div>
