<div class="outer">
  <div class="middle">

    <div class="inner">
      <div class="row myclass">
        <div class="col-sm-4">
          <div style="cursor: pointer;">
            <img class="img img-responsive" routerLink="/incident" style="outline: none;" src="../../../assets/Market-Trend-analysis750x500-1.jpg"
              alt="Card image cap">
          </div>
          <div style="text-align: center; color: white; font-size: 1.2em;"><span>Market Trend</span></div>
        </div>
        <div class="col-sm-4">
          <div class="card" style="opacity: 0.5;cursor: no-drop;">
            <img class="img img-responsive" style="outline: none;" src="../../../assets/Market-Trend-analysis-750x500-2.jpg"
              alt="Card image cap">
          </div>
          <div style="text-align: center; color: white; font-size: 1.2em;"><span>Market Research</span></div>
        </div>
        <div class="col-sm-4">
          <div class="card" style="opacity: 0.5;cursor: no-drop;">
            <img class="img img-responsive" style="outline: none;" src="../../../assets/Market-Trend-analysis-750x500-2.jpg"
              alt="Card image cap">
          </div>
          <div style="text-align: center; color: white; font-size: 1.2em;"><span>Market Analysis</span></div>
        </div>
        <!-- <div class="col-sm-4 mypadding" >
            <div class="card">
              <img class="card-img-top" routerLink="/incident" src="../../../assets/image.jpg" alt="Card image cap">
            </div>
          </div> -->
      </div>
    </div>
  </div>
</div>