<div class="outer">
  <div class="middle">
      <div style="text-align: center;">
          <span class="w3-bar-item"> Market Events</span>
      </div>
    <div class="inner">
      <div class="row myclass"> 
        <div class="col-sm-4 mypadding">
          <div class="card">
            <img class="card-img-top" routerLink="/incident" src="../../../assets/image.jpg" alt="Card image cap">
          </div>
        </div>
        <div class="col-sm-4 mypadding">
          <div class="card">
            <img class="card-img-top" routerLink="/incident" src="../../../assets/image.jpg" alt="Card image cap">
          </div>
        </div>
        <div class="col-sm-4 mypadding" >
          <div class="card"> 
            <img class="card-img-top" routerLink="/incident" src="../../../assets/image.jpg" alt="Card image cap">
          </div>
        </div>
        <div class="col-sm-4 mypadding" >
            <div class="card"> 
              <img class="card-img-top" routerLink="/incident" src="../../../assets/image.jpg" alt="Card image cap">
            </div>
          </div>
      </div> 
    </div>
  </div>
</div>
