<div class="outer">
  <div class="middle">
      
    <div class="inner">
      <div class="row myclass">
        <div class="col-sm-4 mypadding">
          <div class="card">
            <img class="card-img-top" routerLink="/incident" style="outline: none;" src="../../../assets/Market-Trend-analysis750x500-1.jpg" alt="Card image cap">
          </div>
        </div>
        <div class="col-sm-4 mypadding">
          <div class="card">
            <img class="card-img-top" routerLink="/incident" style="outline: none;" src="../../../assets/Market-Trend-analysis-750x500-2.jpg" alt="Card image cap">
          </div>
        </div>
        <div class="col-sm-4 mypadding" >
          <div class="card">
            <img class="card-img-top" routerLink="/incident" style="outline: none;" src="../../../assets/Market-Trend-analysis-750x500-2.jpg" alt="Card image cap">
          </div>
        </div>
        <!-- <div class="col-sm-4 mypadding" >
            <div class="card">
              <img class="card-img-top" routerLink="/incident" src="../../../assets/image.jpg" alt="Card image cap">
            </div>
          </div> -->
      </div>
    </div>
  </div>
</div>
