<div class="outer">
  <div class="middle">
      <div style="text-align: center;">
          <span class="w3-bar-item"> Market Events</span>
      </div>
    <div class="inner">
      <div class="row myclass">
        <div class="col-sm-4 mypadding">
          <div class="card">
            <img class="card-img-top" style="outline: none;" routerLink="/detail" src="../../../assets/Financial-Crisis-750x500-1.jpg" alt="Card image cap">
          </div>
        </div>
        <div class="col-sm-4 mypadding">
          <div class="card">
            <img class="card-img-top" routerLink="/detail" style="outline: none;" src="../../../assets/Euro-Debt-Crisis750x500.jpg" alt="Card image cap">
          </div>
        </div>
        <div class="col-sm-4 mypadding" >
          <div class="card">
            <img class="card-img-top" routerLink="/detail" style="outline: none;" src="../../../assets/Brexit-750x500.jpg" alt="Card image cap">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
