<div class="outer">
  <div class="middle">
    <div class="inner">
      <div class="row myclass"> 
        <div class="col-sm-4 mypadding">
          <div class="card">
            <img class="card-img-top" routerLink="/detail" src="../../../assets/image.jpg" alt="Card image cap">
          </div>
        </div>
        <div class="col-sm-4 mypadding">
          <div class="card">
            <img class="card-img-top" routerLink="/detail" src="../../../assets/image.jpg" alt="Card image cap">
          </div>
        </div>
        <div class="col-sm-4 mypadding" >
          <div class="card"> 
            <img class="card-img-top" routerLink="/detail" src="../../../assets/image.jpg" alt="Card image cap">
          </div>
        </div>
      </div> 
    </div>
  </div>
</div>
