<div class="outer">
  <div class="middle">
      <div style="text-align: center;">
          <span class="w3-bar-item" style="color: white; font-size: 1.5em;"> Market Events</span>
      </div>
    <div class="inner">
      <div class="row myclass">
        <div class="col-sm-4 mypadding">
          <div class="card" style="cursor: pointer;" >
            <img class="card-img-top" style="outline: none;" routerLink="/detail" (click)="eventClicked('Global Recession')" src="../../../assets/Financial-Crisis-750x500-1.jpg" alt="Card image cap">
          </div>
          <div style="text-align: center; color: white; font-size: 1.2em;"><span>Global Recession</span></div>
        </div>
        <div class="col-sm-4 mypadding">
          <div class="card" style="cursor: pointer;" >
            <img class="card-img-top" routerLink="/detail" (click)="eventClicked('Euro Dedt Crisis')" style="outline: none;" src="../../../assets/Euro-Debt-Crisis750x500.jpg" alt="Card image cap">
          </div>
          <div style="text-align: center; color: white; font-size: 1.2em;"><span>Euro Dedt Crisis</span></div>
        </div>
        <div class="col-sm-4 mypadding" >
          <div class="card" style="cursor: pointer;" >
            <img class="card-img-top" routerLink="/detail" (click)="eventClicked('Brixit')" style="outline: none;" src="../../../assets/Brexit-750x500.jpg" alt="Card image cap">
          </div>
          <div style="text-align: center; color: white; font-size: 1.2em;"><span>Brixit</span></div>
        </div>
      </div>
    </div>
  </div>
</div>
